* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: lighter;
}

#heading {
   padding-top: 142px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: flex;
    background-color: #f5f4f2;
    padding-left: 5%;
    padding-bottom:5%;
    }

#heading>div {
    width: 70%;
    height: fit-content;
}

#container {
    width: auto;
    height: auto;
}

#mainBody {
 
    width: 80%;
    height: auto;
    margin: auto;
}

#sidebar {
    height: 60px;
    display: grid;
    align-items: center;
    padding-left: 75%;
}

#sidebar>select {
    width: auto;
    height: 40px;
    border: 2px solid black;
    /* border-radius: 5px; */
    font-weight: bold;
    padding-left: 10px;
}

#box {
  width: 100%;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
  
}

#box>div {
    border: 0.2px solid rgb(161, 147, 147);
    height: auto;
}

#box>div>div:nth-child(1) {
    width: 100%;
}

#box>div>div>img {
    display: block;
    height: auto;
    margin: 0 auto;
}

#box>div>div:nth-child(2) {
    margin: 5px 10px;
}

#mainBody {
    display: flex;
    width: 80%;
    height: auto;
}

#sideMain {
    width: 28%;
    padding: 5px;
    display: block;
  
}

#sideMain>div:nth-child(1) {
    width: 100%;
    height: 60px;
    display: grid;
    align-items: center;
    font-size: 26px;
}

#sideMain>div:nth-child(2) {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
}

#sideMain>div:nth-child(2)>select {
    width: 100%;
    height: 50px;
    border: none;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    font-size: large;
    font-weight: bold;
}

p:first-child {
    color: black;
    font-weight: bold;
}

p:nth-child(2) {
    margin: 3px 0px;
    color: rgb(31, 27, 27);
    font-size: 16px;
}

h3 {
    margin-top: 7px;
    font-weight: bold;
}

#box>div>div:nth-child(1) {
    height: 260px;
    padding: 5px;
}

#box>div>div:nth-child(2) {
    height: 100px;
    padding: 3px;
}

#box>div>div:nth-child(3) {

    padding: 5%;
    position: sticky;
}

button {
    font-weight: bold;
    height: 35px;
    width: 100%
}

button:hover {
    color: blue;
    cursor: pointer;
}
